# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.ipynb_checkpoints/
config.py
*.xlsx
*.xlx
build
dist
log
temp
11stCancel
__pycache__/
option_slice.spec
chromedriver

dockerfile
works
py_option.conf
uwsgi_params
wsgi.ini
