<html>
    <body>
    <form action="/dealList/upload" method="POST" >
        <p>스타일윈도우 코드 <input type="text" name="providerNumber" /></p>
        <p>정렬 
            <select name="sort">
                <option value="RECENT">최신순</option>
                <option value="POPULARITY">인기순</option>
                <option value="REVIEW">리뷰순</option>
            </select>
        </p>
        <p>상품갯수 <input type="number" name="count" /></p>
        <input type="submit">
    </form>
    </body>
</html>